<nav id="social">
  <ul>
    <li><%= link_to icon('twitter', '', class: 'fa-3x'), 'https://twitter.com/redbassett' %></li>
    <li><%= link_to icon('github', '', class: 'fa-3x'), 'https://github.com/redbassett' %></li>
    <li><%= link_to icon('linkedin-square', '', class: 'fa-3x'), 'www.linkedin.com/in/harrygrillo' %></li>
    <li><%= link_to icon('stack-overflow', '', class: 'fa-3x'), 'https://stackoverflow.com/users/817496/redbassett' %></li>
    <li><%= link_to icon('key', '', class: 'fa-3x'), 'https://keybase.io/redbassett' %></li>
  </ul>
</nav>
