<!DOCTYPE html>
<html>
<head>
  <title>Harry Grillo</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= "#{controller.controller_name}_controller #{controller.action_name}_action" %>">
<header id="site-header">
  <h1><%= link_to 'Harry Grillo', root_path %></h1>
  <p id="tagline">Design &amp; Technology for the 21<sup>st</sup> Century Stage</p>
  
  <nav>
    <ul>
      <li><%= link_to 'Lighting', '#' %></li>
      <li><%= link_to 'Video & Projection', '#' %></li>
      <li><%= link_to 'Other Projects', '#' %></li>
    </ul>
  </nav>
</header>

<%= yield %>

<footer id="site-footer">
  <nav>
    <ul>
      <li><%= link_to icon('envelope', 'harry@redbassett.com', class: 'fa-fw'), 'mailto:harry@redbassett.com' %></li>
      <li><%= link_to icon('phone', '413.345.2841', class: 'fa-fw'), 'tel:14133452841' %></li>
    </ul>
  </nav>
</footer>
</body>
</html>
